<!doctype html>
<html>
  <head>
    <title>Index</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
    <script   src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
  </head>
  <body>
    <h1 class="headline"></h1>
    <div class="image">
      <img src="" alt="">
    </div>
    <div class="buttons">
      <button id="red">Red</button>
      <button id="blue">Blue</button>
      <button id="orange">Orange</button>
      <button id="purple">Purple</button>
    </div>
  </body>
</html>
